@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: $primary-font-size;
  color: $primary-text-color;
  line-height: $primary-line-height;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  width: $mobile;

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 32px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
