@import './base/normalize';
@import './base/fonts';
@import './utils/breakpoints';
@import './utils/mixins';
@import './utils/variables';
@import './utils/visually-hidden';
@import './base/body';

// components
@import './components/header-main';
@import './components/header-lib';
@import './components/gallery';
@import './components/gallery-card';
@import './components/footer';
@import './components/modal-film';
@import './components/pagination';
@import './components/loader';
@import './components/team';
