$primary-font-style: Roboto, sans-serif;

$primary-font-size: 12px;
$primary-line-height: 1.3;

$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$warning-text-color: #ff001b;
$button-text-color: #ffffff;
$footer-text-color: #545454;

$primary-bgc: #ffffff;
$secondary-bgc: #f7f7f7;

$accent-color: #ff6b08;

$bg-header-gradient: linear-gradient(rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56));