<!-----------------------------HORYZONTAL-INDICATOR----------------------------->

<div class="header-indicator">
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
</div>

<!---------------------------HORYZONTAL-INDICATOR-END--------------------------->

<!--------------------------------CUSTOM-ANCHOR--------------------------------->

<div class="up-button">
  <a id="up-button" class="up-button__link" href="#home">
    <svg
      class="animate__animated animate__infinite animate__pulse animate__slower up-button__icon"
      width="30"
      height="30"
    >
      <use href="/src/images/circle-up.svg#icon-circle-up"></use>
    </svg>
  </a>
</div>

<!------------------------------CUSTOM-ANCHOR-END------------------------------->


