<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">&#169; 2023 | All Rights Reserved |</p>
        <div class="footer__sub">Developed with
            <img class="footer__icon animate__animated animate__infinite animate__heartBeat animate__slower"  src="images/footer_icon.png"
            alt="footer_icon"
            width="14"
            height="14"
            />
           <p class="footer__link open-modal-team"> by GoIT Students</p>
        </div>
    </div>
    </footer>