<!-- РЕКОМЕНДАЦІЇ
1. Зрозумілі класи.
2. Використання мнемоніки.
-->

<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">&#169; 2023 | All Rights Reserved |</p>
        <div class="footer__sub">Developed with
            <img class="footer__icon"  src="images/footer_icon.png"
            alt="footer_icon"
            width="14"
            height="14"
            />
           <a class="footer__link modal-team-open" href="#"> by GoIT Students</p>
        </div>
    </div>
    </footer>