<!-- РЕКОМЕНДАЦІЇ
1. Зрозумілі класи.
-->

<section class="gallery">
  <span class="loader"></span>
  <div class="container">
    <h2 class="swiper-title">Watch trailer</h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
      <div class="swiper-button-prev">
        <svg class="swiper-button-prev-icon">
          <use href="./images/sprite.svg#icon-circle-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-next-icon">
          <use href="./images/sprite.svg#icon-circle-right"></use>
        </svg>
      </div>
    </div>
    <ul class="movies"></ul>
    <div class="pagination"></div>
  </div>
</section>
