<!-- РЕКОМЕНДАЦІЇ
1. Зрозумілі класи.
-->

<section class="gallery">
  <ul class="movies">
    <!-- <li>
      <div class="movie__cover-inner">
        <img
          src="https://image.tmdb.org/t/p/w500/${movie.poster_path}"
          class="movie__cover"
          alt="${movie.title}"
        />
        <div class="movie__cover--darkened"></div>
      </div>
      <div class="movie__info">
        <div class="movie__title">${movie.title}</div>
        <div class="movie__genre"></div>

        <div class="movie__average">10</div>
      </div>
      ;
    </li> -->
  </ul>
</section>
