<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/icons.svg#icon-close"></use>
         </svg>
       </button>
       <h1 class="team__title">Browser Bosses</h1>
       <div class="team__box">

             <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Beresten.jpg"
              alt="Beresten"/>
             </div>
            <a class="team__link"
            href="https://github.com/dmitryberesten"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Dmytrii Beresten</p>
            <p class="team__role">Team Lead</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Myhulia.jpg"
              alt="Myhulia"/>
             </div>
            <a class="team__link"
            href="https://github.com/MaksymMyhulia"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Maksym Myhulia</p>
            <p class="team__role">Scrum Master</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Mykytiuk.jpg"
              alt="Mykytiuk"/>
             </div>
            <a class="team__link"
            href="https://github.com/Inna-Mykytiuk?tab=followers"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Inna Mykytiuk</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Haiduk.jpg"
              alt="Haiduk"/>
             </div>
            <a class="team__link"
            href="https://github.com/AlexandrHaiduk"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Oleksandr Haiduk</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/BondarenkoI.jpg"
              alt="BondarenkoI"/>
             </div>
            <a class="team__link"
            href="https://github.com/IrynaBondarenko7"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Iryna Bondarenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Khymenko.jpg"
              alt="Khymenko"/>
             </div>
            <a class="team__link"
            href="https://github.com/Crash-afftar"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Oleksandr Khymenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Stepanovych.jpg"
              alt="Stepanovych"/>
             </div>
            <a class="team__link"
            href="https://github.com/yulka-pulka"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Yuliia Stepanovych</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/BondarenkoY.jpg"
              alt="BondarenkoY"/>
             </div>
            <a class="team__link"
            href="https://github.com/YuliyaBondG"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Yuliya Bondarenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Dvorovenko.jpg"
              alt="Dvorovenko"/>
             </div>
            <a class="team__link"
            href="https://github.com/VladyslavaDvorovenko"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Vladyslava Dvorovenko</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Chaban.jpg"
              alt="Chaban"/>
             </div>
            <a class="team__link"
            href="https://github.com/Universe2022"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Svitlana Chaban</p>
            <p class="team__role">Developer</p>
          </div>
           <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Kholod.jpg"
              alt="Kholod"/>
             </div>
            <a class="team__link"
            href="https://github.com/YanaKholod"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Yana Kholod</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Vashchuk.jpg"
              alt="Vashchuk"/>
             </div>
            <a class="team__link"
            href="https://github.com/MisterF1x"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name"> Oleksandr Vashchuk</p>
            <p class="team__role">Developer</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Leontev.jpg"
              alt="Leontev"/>
             </div>
            <a class="team__link"
            href="https://github.com/MihailLeontev"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Mykhailo Leontev</p>
            <p class="team__role">Developer</p>
          </div>
       </div>

