<div id="info-modal" class="modal-wrapper">
  <div id="modal">
    <div id="close-modal" class="backdrop"></div>
    <div id="movie-card">
      <div id="content">
        <div id="left-content" class="img-posters">
          <div id="film-img" alt="Film Image">
            <button class="trailer-btn" id="film-id" type="button">
              <svg class="trailer-icon">
                <use
                  class="trailer-icon"
                  href="./images/icons.svg#trailer-btn"
                ></use>
              </svg>
            </button>
          </div>
        </div>
        <div id="right-content">
          <h2 id="film-title"></h2>
          <div id="description">
            <div class="left-descr-content">
              Votes
              <div id="votes"></div>
            </div>
            <div class="left-descr-content">
              Popularity
              <div id="popul"></div>
            </div>
            <div class="left-descr-content">
              Original title
              <div id="origTitle"></div>
            </div>
            <div class="left-descr-content">
              Genre
              <div id="genre"></div>
            </div>
          </div>
          <div class="about-wrapper">
            <span>About</span>
            <div id="about"></div>
          </div>

          <div class="btn_wrapper" id="buttonWrapper">
            <button
              type="button"
              class="add-to-watched-btn music__btn"
              id="btn"
              data-value="add"
            >
              <audio id="1" src="./sound/b.mp3"></audio>
              ADD TO WATCHED
            </button>

            <button
              type="button"
              class="add-to-queue-btn music__btn"
              id="btn"
              data-value="add"
            >
              <audio id="1" src="./sound/b.mp3">ADD TO QUEUE</audio>

              ADD TO QUEUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
