//-----------------------------HORYZONTAL-INDICATOR-----------------------------//

.header-indicator {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: transparent;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: transparent;
  }
  
  .progress-bar {
    height: 5px;
    background: $accent-color;
    border-radius: 0 50px 50px 0;
    width: 0%;
  }

//-----------------------------HORYZONTAL-INDICATOR-----------------------------//

//--------------------------------CUSTOM-ANCHOR---------------------------------//
#up-button {
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.up-button {
  position: fixed;
  bottom: 30px;
  right: 15px;

  @media screen and (min-width: 470px) {
    bottom: 30px;
    right: 15px;
  }

  @media screen and (min-width: 1520px) {
    bottom: 110px;
    right: 120px;
  }
}

.up-button__link {
  width: 80px;
  height: 80px;
  fill: $accent-color;
  border-radius: 12px;
}
// ----------------------------CUSTOM-ANCHOR-[END]------------------------------//

// ------------------------------CUSTOM-SCROLLBAR-------------------------------//
*::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff6b08;
  border-radius: 50px;
  border: 3px solid $primary-bgc;
}
// -----------------------------CUSTOM-SCROLLBAR-END----------------------------//