.gallery {
  padding: 60px 0;
}

.movies,
.movies-lib {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.movie_list_item {
  position: relative;
  width: 280px;
  font-size: 12px;
  transition: scale 250ms;

  @media screen and (min-width: $tablet) {
    width: 336px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 32px) / 3);
    font-size: 20px;
  }
}

.movie_list_item:hover {
  scale: 102%;
}

.movie__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie-info {
  padding: 10px 0px;
}

.movie-title {
  color: black;
  font-weight: 500;
}

.movie-date {
  color: #ff6b08;
  font-weight: 500;
}

.movie__average {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  color: #ffffff;
  font-size: 14px;
}

.movie__average--green {
  color: green;
  border: 1px solid green;
}

.movie__average--orange {
  border: 1px solid orange;
  color: orange;
}

.movie__average--red {
  border: 1px solid red;
  color: red;
}

.movie__cover--darkened {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
}

.movie__cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.watched-img {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.04)
    ),
    url(../images/notification-meme/no-signal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding-top: 75px;

  @media screen and (min-width: $tablet) {
    height: 380px;
    width: 650px;
    padding-top: 100px;
  }

  @media screen and (min-width: $desktop) {
    height: 425px;
    width: 800px;
    padding-top: 115px;
  }
}

.watched-warning {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  max-width: 250px;
  margin: 0 auto;
  background-color: black;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.5;
    max-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 25px;
    line-height: 1.6;
    max-width: 550px;
  }
}

.movie_list_image {
  border-radius: 5px;

  @media screen and (min-width: $desktop) {
    height: 592.5px;
  }
}

.meme-notif-nothing {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
