// РЕКОМЕНДАЦІЇ:
// 1. Групувати властивості пробілом по групам.


.gallery {
  padding: 60px 0;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 16px
}

.movie_list_item {
  width: 395px;
  position: relative;
}

.movie__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie-info {
  padding: 10px 0px;
}

.movie-title {
  font-size: 20px;
  color: black;
}

.movie-date {
  font-size: 20px;
  color: #FF6B08;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
}
