// РЕКОМЕНДАЦІЇ:
// 1. Групувати властивості пробілом по групам: геометрія, шрифт, кольори, ефекти.
// 2. Використоувати keyframes.
// 3. Кольори мають бути в змінних.

/* Loader */

.loader {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.25s;
    transition-delay: 0.3s;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 100pt;
   // content: '🏈';
    animation: spin 4s linear infinite;
}

.loader.is-active {
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Loader заиемнення + неактивні кнопки*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
}

.backdrop__is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}