// РЕКОМЕНДАЦІЇ:
// 1. Групувати властивості пробілом по групам: геометрія, шрифт, кольори, ефекти.
// 2. Використоувати функцію calc().
// 3. Кольори мають бути в змінних.


.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: #00000079;

}
.backdrop {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  opacity: 0.7;
}
.backdrop:hover {
  opacity: 1;
}
.backdrop:before, .backdrop:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #000;
}
.backdrop:before {
  transform: rotate(45deg);
}
.backdrop:after {
  transform: rotate(-45deg);
}


.open {
  display: flex;
}

#modal {
  background-color: #fff;
  margin: 5% auto;
  position: relative;
  padding: 40px 12px;
  width:100%;
  max-width: 806px;
  height: 100%;
  max-height: 558px;
  border-radius: 3px;
  height: max-content;

}
#movie-card {
  height: auto;
  width: auto;
  border-radius: 5px;

}

#content {
  display: flex;
  align-items: start;
  width: 100%;
}
.left-descr-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
  margin-bottom: 8px;
}

.average {
  color: #FFFFFF;
  background: #FF6B01;
  border-radius: 5px;
  padding: 1px 7px;
  margin-right: 3px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 12px;

  span {
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

}

#left-content {
  max-width: 50%;
  height: auto;
  margin-right: 16px;
  img {
    width: 375px;
    height: 478px;
  }
}

#right-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  color:black;
  max-width: 50%;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

#film-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#film-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}

#description {
  margin-bottom: 10px;
}

#votes, #popul, #origTitle, #genre {
  color:black;
}

#about {
  margin-bottom: 10px;
}

#buttonWrapper { //FOR BUTTONS
  display: flex;

  button {
    background-color: #007bff;
  }
}

@media (max-width: 450px) {
  #movie-card {
    overflow: hidden;
  }
  #content {
    max-height: 500px;
    overflow-y: scroll;
    padding: 10px 20px;
  }

  #left-content, #right-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  #left-content img {
    width: auto;
    height: auto;
}
  #film-img {
    margin: 0 auto;

  }
  #content {
    display:flex;
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  #modal {
    max-width: 90%;
  }

}


