// РЕКОМЕНДАЦІЇ:
// 1. Групувати властивості пробілом по групам: геометрія, шрифт, кольори, ефекти.
// 2. Використоувати функцію calc().
// 3. Кольори мають бути в змінних.

.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: #00000079;
}
.backdrop {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  opacity: 0.7;
}
.backdrop:hover {
  opacity: 1;
}
.backdrop:before,
.backdrop:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #000;
}
.backdrop:before {
  transform: rotate(45deg);
}
.backdrop:after {
  transform: rotate(-45deg);
}

.open {
  display: flex;
}

#modal {
  background-color: #fff;
  margin: 5% auto;
  position: relative;
  padding: 40px 12px;
  width: 100%;
  max-width: 806px;
  height: 100%;
  max-height: 558px;
  border-radius: 3px;
  height: max-content;
}
#movie-card {
  height: auto;
  width: auto;
  border-radius: 5px;
}

#content {
  display: flex;
  align-items: start;
  width: 100%;
}
.left-descr-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  margin-bottom: 8px;
}

.average {
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  padding: 1px 7px;
  margin-right: 3px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 12px;

  span {
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

#left-content {
  max-width: 50%;
  height: auto;
  margin-right: 16px;
  img {
    width: 375px;
    height: 478px;
  }
}

#right-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: black;
  max-width: 50%;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

#film-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#film-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}

#description {
  margin-bottom: 10px;
}

#votes,
#popul,
#origTitle,
#genre {
  color: black;
}

#about {
  margin-bottom: 20px;
  font-weight: 500;
}

#buttonWrapper {
  //FOR BUTTONS
  display: flex;

  @media screen and (min-width: $mobile) {
    gap: 20px;
  }

  @media screen and (min-width: $tablet) {
    gap: 15px;
  }

  @media screen and (min-width: $desktop) {
  }
}
.add-to-watched-btn,
.add-to-queue-btn {
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;

  border: 1px solid $secondary-text-color;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-text-color;
    border-color: transparent;
  }
  @media screen and (min-width: $mobile) {
    min-width: 110px;
    padding: 6px 13px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 125px;
    padding: 14px 10px 12px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 136px;
  }
}
@media (max-width: 450px) {
  #movie-card {
    overflow: hidden;
  }
  #content {
    max-height: 500px;
    overflow-y: scroll;
    padding: 10px 20px;
  }

  #left-content,
  #right-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  #left-content img {
    width: auto;
    height: auto;
  }
  #film-img {
    margin: 0 auto;
  }
  #content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  #modal {
    max-width: 90%;
  }
}
// Трейлер
.img-posters {
  position: relative;
  transition: 0.4s;
}
.trailer-btn {
  position: absolute;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: #f2936d;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-posters:hover,
.img-posters:focus {
  .trailer-btn {
    color: #ff6b08;
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.trailer-icon {
  width: 100px;
  height: 100px;
}
