button {
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.page-btn {
  min-width: 40px;
  height: 40px;
  padding: 8px;

  font-weight: 500;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.25;
  border-radius: 5px;
  border: none;

  background: transparent;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 2px;
  }
  &:hover,
  &:focus {
    color: #fff;
    background-color: rgba($accent-color, 0.6);
  }
}

.page-btn.active-page {
  background-color: $accent-color;
  color: $primary-text-color;
}
.prev-btn,
.next-btn {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 40px;
  height: 40px;

  border-radius: 5px;
  border: none;

  background: $secondary-bgc;
}
.icon {
  display: flex;
  align-self: center;

  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  pointer-events: none;
}
// slider style
.swiper {
  margin-bottom: 80px;
  &-title {
    margin-bottom: 40px;
    font-family: inherit;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
  &-slide {
    overflow: hidden;
  }
  &-backdrop {
    opacity: 0;
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-link {
    & > * {
      pointer-events: none;
    }
    & > img {
      transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 5px;
    }
    &:hover > img,
    &:focus > img {
      transform: scale(1.2);
    }
    &:hover .swiper-backdrop,
    &:focus .swiper-backdrop,
    &:hover .swiper-backdrop > .icon-play,
    &:focus .swiper-backdrop > .icon-play {
      opacity: 1;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.swiper-button-prev {
  left: 8px;
}
.swiper-button-next {
  right: 8px;
}
.swiper-button-next-icon,
.swiper-button-prev-icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
  opacity: 0.6;
  cursor: pointer;
}
.icon-play {
  opacity: 0;
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .end-btn,
  .start-btn,
  .next-dots,
  .prev-dots {
    display: none;
  }
  .pagination {
    margin-top: 40px;
  }
  .swiper-button-next-icon,
  .swiper-button-prev-icon {
    width: 25px;
    height: 25px;
  }
  .swiper-button-prev {
    left: 4px;
  }
  .swiper-button-next {
    right: 4px;
  }
}
